---
layout: page
title: Blog
desc: "A list of all of Joe Kampschmidt's blog posts"

---

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul class="features">
    {% endif %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><span class="date">{{ post.date | date: "%B %-d"  }}</span></li>
    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
    </ul>
    <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
    <ul class="features">
        {% endif %}
    {% endif %}
{% endfor %}
